<section class="card">
    <header>{{name}}</header>
    <div class="card-body">
      <p>Description: {{description}}</p>
      
      <p>AC: {{AC}}</p>
      <p>HD: {{HD}}</p>
      <p>HP: {{HP}}</p>
      <p>CR: {{CR}}</p>
      <p>attack: {{attack}}</p>
      <p>CR: {{CR}}</p>
      <p>str: {{str}}</p>
      <p>dex: {{dex}}</p>
      <p>con: {{con}}</p>
      <p>wis: {{wis}}</p>
      <p>int: {{int}}</p>
      <p>chr: {{chr}}</p>
    </div>
</section>